@model IEnumerable<_3dposManagaement.Utility.MenuModel.MenuLogModel>
@using CommonEntityModel.ModelClass;

@{
    ViewData["Title"] = "Menu log list page";
    SearchBarAndPager searchBarAndPager = new SearchBarAndPager();
    int pageNo = 0;
    var loggedInUserId = ViewBag.loggedInUserID;
    if (ViewBag.searchBar_Pager != null)
    {
        searchBarAndPager = ViewBag.searchBar_Pager;
        pageNo = searchBarAndPager.CurrentPage;
    }
    Layout = "~/Views/Shared/_HomeLayout2.cshtml";
}

<h6>@ViewBag.Path</h6>
<br />

<div class="card mb-4">
    <div class="card-body">
        <h3>@ViewBag.Message</h3><br />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="table-responsive">

            @*<button id="btnExportData" type="submit" value="ExportData" name="action">
                    <i class="fas fa-file-download"> Export Data </i>
                </button>*@

            <form asp-controller="MainMenu" asp-action="ExporDataToCSV">
                <span class="btn-group">
                    <input class="form-control" id="txtSelectedDateFrom" style="height:32px;padding:16px;width:140px;" type="datetime" name="txtSelectedDateFrom" autocomplete="off" />&nbsp; &nbsp;
                    <input class="form-control" id="txtSelectedDateTo" style="height:32px;padding:16px;width:140px;" type="datetime" name="txtSelectedDateTo" autocomplete="off" />&nbsp; &nbsp;
                    <input class="p-1 ml-2 btn btn-sm btn-info" style="height:32px; margin-top:1px;width:100px;border-radius:2px;" type="submit" value="Export CSV" />&nbsp; &nbsp;
                </span>
            </form>

            @*<a class="btn btn-sm btn-info" style="height:32px; margin-top:-3px;margin-left:0px;width:139px" asp-area="" asp-controller="MainMenu" asp-action="ExporDataToCSV">
                    Export CSV
                </a>*@

            <partial name="_SearchBar" model="@searchBarAndPager" />

            <table class="table table-bordered" width="100%" cellspacing="0">
                <!-- id=dataTable -->
                <thead>
                    <tr>
                        <th>
                            SI
                        </th>
                        <th>
                            Changed Menu
                        </th>
                        <th>
                            Item/Cat/Menu
                        </th>
                        <th>
                            Object
                        </th>
                        <th>
                            Old
                        </th>
                        <th>
                            New
                        </th>
                        <th>
                            By
                        </th>
                        <th>
                            At
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ChangeType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ChangeItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ChangedObject)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OldValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedByName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <partial name="_Paging" model="@searchBarAndPager" />
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        var currentYear = (new Date).getFullYear() - 3;

        $(function () {
            $('#txtSelectedDateFrom').datepicker('setDate', new Date());

            $('#txtSelectedDateFrom').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "mm/dd/yyyy",
                language: "tr",
                startDate: new Date(currentYear, 01, 01),
                endDate: new Date()
            });
        });

        $(function () {
            $('#txtSelectedDateTo').datepicker('setDate', new Date());

            $('#txtSelectedDateTo').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "mm/dd/yyyy",
                language: "tr",
                startDate: new Date(currentYear, 01, 01),
                endDate: new Date()
            });
        });
    </script>
}
